body{
background-color:lightgrey;
}
div{
width:500px;
margin:auto;
}
blockquote{
border:1px solid white;
margin-left:0px;
text-align:center; 
}

div a:hover{
text-decoration: none;
font-size: 30px;
}

